.editor-wrapper {
	width: 100%;
	border: none;
	background: #fff;
	border: 2px solid rgba(0, 0, 0, 0.08);
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.editor-container {
	width: 100%;
	min-height: 60vh;
	border-top: 1px solid #dedede;
	padding: 1rem;
}

.toolbar-grid {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 1fr 1fr;
	padding: 1rem;
}

button {
	margin-right: 8px;
	font-size: 1rem;
	padding: 10px;
	border: none;
	background: #fff;
	cursor: pointer;
}

.superFancyBlockquote {
	color: #999;
	background: #fff;
	font-family: "Hoefler Text", Georgia, serif;
	font-style: italic;
	border-left: 2px solid #999;
	padding-left: 10px;
}

.codeBlock {
	font-family: fira-code, monospace;
	font-size: inherit;
	background: #ffeff0;
	font-style: italic;
	word-wrap: normal;
	word-wrap: break-word;
	box-decoration-break: slice;
	padding: 0.3rem 2rem;
	border-radius: 0.2rem;
}

.leftAlign {
	text-align: left;
}
.rightAlign {
	text-align: right;
}
.centerAlign {
	text-align: center;
}
.justifyAlign {
	text-align: justify;
}

.public-DraftStyleDefault-unorderedListItem {
	margin-left: 20px;
}

.public-DraftStyleDefault-orderedListItem {
	margin-left: 20px;
}

.public-DraftEditorPlaceholder-inner {
	color: #a9a9a9 !important;
}
